{{!
This file is part of Moodle - https://moodle.org/
Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.
Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.
You should have received a copy of the GNU General Public License
along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
@template common/lib
Common parts of the lib.php file.
Context variables required for this template:
* component
* copyright
Example context (json):
{
    "component": "local_test",
    "copyright": "2021 David Mudrák <david@moodle.com>"
}
}}
    <div class="row">
        <div class="col-md-4 col-xl-4">
            <div class="card order-card">
                <div class="card-block-box">
                    <h6 class="m-b-20"><a href="{{{list_completed_url}}}" class="progress-text" >{{#str}}completed,block_myprogress{{/str}}</a></h6>
                    <div class="d-flex justify-content-between" > 
                    <h2 class="text-right mt-3">{{{ccompleted}}}</h2>
                    <span class="m-b-0"><img src="{{{ config.wwwroot }}}/blocks/myprogress/pix/group.png"></span>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="col-md-4 col-xl-4">
            <div class="card  order-card">
                <div class="card-block-box">
                    <h6 class="m-b-20"> <a href="{{{list_notstarted_url}}}" class="progress-text" >{{#str}}notyetstarted,block_myprogress{{/str}}</a></h6>
                    <div class="d-flex justify-content-between">
                    <h2 class="text-right mt-3">{{{cnoyetstarted}}}</h2>
                    <span class="m-b-0"><img src="{{{ config.wwwroot }}}/blocks/myprogress/pix/online-course 1.png"></span>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="col-md-4 col-xl-4 inprogress">
            <div class="card order-card">
                <div class="card-block-box">
                    <h6 class="m-b-20"><a href="{{{list_inprogress}}}" class="progress-text" >{{#str}}inprogress,block_myprogress{{/str}}</a></h6>
                     <div class="d-flex justify-content-between">
                    <h2 class="text-right mt-3">{{{cinprogress}}}</h2>
                    <span class="m-b-0"><img src="{{{ config.wwwroot }}}/blocks/myprogress/pix/stopwatch.png"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{{#js}}
require(['jquery', 'core/ajax', 'core/notification', 'core/str'], function($, ajax, notification, str) {
$(function () {

            $.getScript('{{{highchart_url}}}', function(){

            var colors = Highcharts.getOptions().colors,
            categories = ['', '', ''],
            data = [{
                    y: {{{per1}}},
                    url: '{{{list_completed_url}}}',
                    color: '{{{brandcolor}}}',
                    drilldown: {
                        name: 'Completed',
                        categories: ['Completed{{{ccompleted}}}'],
                        data: [{{{per1}}}],
                        color: '{{{brandcolor}}}'
                    }
                    }, {
                    y: {{{per2}}},
                    url: '{{{list_notstarted_url}}}',
                    color: '{{{second_color}}}',
                    drilldown: {
                        name: 'not started',
                        categories: ['Not Started{{{cnoyetstarted}}}'],
                        data: [{{{per2}}}],
                        color: '{{{second_color}}}'
                    }
                    }, {
                    y: {{{per2}}},
                    url: '{{{list_inprogress}}}',
                    color: '{{{third_color}}}',
                    drilldown: {
                        name: 'In progress',
                        categories: ['Inprogress{{{cinprogress}}}'],
                        data: [{{{per3}}}],
                        color: '{{{third_color}}}'
                    }
                    }
            ],
            browserData = [],
            versionsData = [],
            i,
            j,
            dataLen = data.length,
            drillDataLen,
            brightness;


        // Build the data arrays
        for (i = 0; i < dataLen; i += 1) {

            // add browser data
            browserData.push({
                name: categories[i],
                y: data[i].y,
                color: data[i].color
            });

            // add version data
            drillDataLen = data[i].drilldown.data.length;
            for (j = 0; j < drillDataLen; j += 1) {
                brightness =  (j / drillDataLen) / 5;
                versionsData.push({
                    name: data[i].drilldown.categories[j],
                    y: data[i].drilldown.data[j],
                    color: Highcharts.Color(data[i].color).brighten(brightness).get(),
                    url: data[i].url
                });
            }
        }

        // Create the chart
        $('#plms-my-progress-container').highcharts({
            chart: {
                height: 250,
                type: 'pie',
                backgroundColor: 'transparent'

            },
            legend: {
                align: 'right',
                backgroundColor: '#ff0000',
                itemDistance: 20,
                enabled: false
            },
            title: {
                text: ''
            },
            yAxis: {
                title: {
                    text: ''
                }
            },
            plotOptions: {
                pie: {
                    shadow: false,
                    plotBackgroundColor: 'rgba(255, 0, 0, .9)',
                    center: ['50%', '50%']
                }
            },
            tooltip: {
                valueSuffix: '%'
            },
            series: [ {
                name: '{{#str}}progress,block_myprogress{{/str}}',
                data: versionsData,
                size: '75%',
                innerSize: '70%',   
                dataLabels: {
                    formatter: function () {
                        // display only if larger than 1 Dani Otelch comment the last line hide the legends
                       // return this.y > 1 ? '<b>' + this.point.name + ':</b> ' + this.y + '%'  : null;
                    }
                },
                point:{
                    events:{
                        click: function (event) {
                            location.href = this.url;
                        }
                    }
                },
                cursor: 'pointer'
            }]
        });

    });
    })
 })
{{/js}}
    
